body {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

div {
	background: url(title.png) center center no-repeat;
	text-indent: -100000px;
	width: 100vw;
	height: 100vh;
}