/* @override 
	http://localhost:8888/public/css/style.css
	http://localhost:8888/public/css/style.css?hash=01
	http://localhost:8888/public/css/style.css?v=03
	http://localhost:8888/public/css/style.css?* */
	
/* @group general */
	
@font-face {
  font-family: raleway-black;
  src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: raleway-regular;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
font-family: raleway-light;
src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
font-family: raleway-semibold;
src: url('../fonts/Raleway-SemiBold.ttf');
}

body {
	margin: 0;
	padding: 0;
	font: 1em raleway-regular, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: flex;
	color: #272727;
}

header {
	width: 30vw;
}

a {
	color: #646464;
}

p {
	color: #6e6e6e;
}

/* @end */

/* @group header */
header h1 {
	text-align: center;
	font-family: raleway-black;
	margin: 30px 40px 1px;
	border-bottom: 1px solid #c4c4c4;
	line-height: 28px;
}

header h2 {
	margin-top: 0;
	text-align: center;
	font: 0.8em raleway-light;
	color: #919191;
}

/* @end */

/* @group Navegation */
nav ul {
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
padding: 30px 0 0;
}

nav ul li {
	margin-left: 30px;
	list-style: none;
	font: 1.1em raleway-semibold;
	margin-bottom: 17px;
}

nav ul ul {
	padding: 0 0 20px;
}

nav ul ul li {
	font: 0.9em raleway-light;
	padding-left: 15px;
}

nav a {
	text-decoration: none;
}

nav a.actual {
	font-family: raleway-semibold;
	cursor: default;
}
/* @end */

/* @group index modal */

#modalWindow {
	position: fixed;
	width: 100vw;
	height: 100vmax;
	background: rgba(0, 0, 0, 0.62);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	z-index: 2;
	display: none;
	transition-property: opacity;
	transition-duration: 300ms;
}

#modalWindow.loading {
	background: url(ajax-loader3.gif) center center no-repeat fixed;
}

#modalWindow.visible {
	display: block;
	
}

#modalWindow #picContainer {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}

#modalWindow #picContainer img {
	width: auto;
	height: auto;
	max-height: 90vh;
	max-width: 90vw;
}

#modalNav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100vw;
}

#modalNav ul {
	margin: 0;
	padding: 0;
}

#modalNav li {
	list-style: none;
	color: white;
	font: 4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	position: absolute;
	display: flex;
	align-items: center;
	height: 100vh;
	cursor: pointer;
}

#modalNav li span {
	display: none;
}

#modalNav li.prevBot {
	top: 0;
	padding: 0 25px;
}

#modalNav li.prevBot:after {
  content: '<';
}

#modalNav li.nextBot {
	right: 0;
	padding: 0 30px 100px 12px;
	height: calc(100vh - 200px);
	margin-top: 100px;
}

#modalNav li.nextBot:after {
	content: '>';
}

#modalNav li.closeBot {
	top: 0;
	right: 0;
	padding: 4px 22px 10px 20px;
	height: 70px;
}

#modalNav li.closeBot:after {
	content: 'X';
}

/* @end */

main {
	width: 70vw;
	padding-top: 20px;
	display: flex;
	flex-flow: wrap;
}

main section {
	margin-bottom: 30px;
	width: 33%;
}

main section h1 {
	margin: 0 0 15px;
}

main section div.project img{
	width: 90%;
	height: auto;
	cursor: pointer;
}

/* @group project */

body.project main section h1 {
	border-bottom: 1px solid #939393;
	font: 3em raleway-semibold;
	padding-bottom: 9px;
}

body.project main section h2 {
font: 1.5em raleway-light;
color: #7e7e7e;
}

body.project main section {
	width: 90%;
}

body.project .img-container img{
	width: 100%;
}

/* @end */

/* @group responsive */

@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  
  header {
  	width: 97vw;
  	background: url(menu.gif) 95% 15px no-repeat;
  	position: absolute;
  	z-index: 1;
  	background-color: #ffffff;
  }
  
  header h1 {
  	margin: 0;
  	padding: 9px 0 5px 8px;
  	text-align: left;
  }
  
  header h2 {
  	text-align: left;
  	padding: 1px 0 0 8px;
  }
  
  header nav {
  	display: none;
  }
  
  header nav.visible {
  	display: block;
  }
  
  main {
  	position: absolute;
  	top: 60px;
  	width: calc(100vw - 50px);
  	padding-top: 40px;
		display: flex;
  	justify-content: center;
  	padding-left: 18px;
  }
  
  main section {
  	margin-bottom: 30px;
  	width: 47%;
  	padding-right: 3px;
		padding-left: 7px;
  }
}

/* @end */