<header>
    <h1>Wenwen</h1>
    <nav>
        <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
        </ul>
    </nav>
</header>
<script>
    document.querySelector("header")?.addEventListener("click", () => {
        console.log("miau");
        document.querySelector("nav")?.classList.toggle("open");
    });
</script>
